<div class="navbar-movies">
  <%= image_tag "popcorn.png", alt: "CinemaLogo", class: "logo" %>
  <div class="navbar-options">
    <div><%= link_to 'My lists', lists_path %></div>
    <div><%= link_to 'Add a new list', new_list_path %></div>
  </div>
</div>
